@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  color: #F9FAF8;
  background-color: #3882f6;
}

a {
  text-decoration: none;
}


/*
FONTS
*/

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.logo-text {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.info-header-text {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.info-card-text {
  color: #1F2937;
  font-size: 18px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote-attr {
  font-size: 18px;
  font-weight: bold;
  color: #1F2937;
}

.button-one {
  font-weight: bold;
}

.button-two {
  font-weight: bold;
}


/*
BACKGROUND COLORS
*/

.hero-header-bg {
  background-color: #1F2937;
}

.quote-bg {
  background-color: #E5E7EB;
}

.coa-card-bg {
  background-color: #3882f6;
}

.footer-bg {
  background-color: #1F2937;
}

.right-img {
  background-image: url(./images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.spacer-outer {
  display: flex;
  justify-content: center;
}


.hero-header {
  flex: 1 1 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px 16px 0px;
}

.spacer {
  flex: 1;
}

.header ul {
  flex: 10;
  display: flex;
  gap: 6px;
}

ul li {
  flex: 1;
  min-width: fit-content;
  padding: 3px;
}

.logo {
  flex: 10;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  max-width: 400px;
  gap: 16px;
}

.left button {
  max-width: fit-content;
  flex: none;
  border: 1px none;
  border-radius: 6px;
  padding: 5px 20px 5px 20px;
  margin: 10px;
}

.right {
  flex: 2;
  height: 350px;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px none;
  border-radius: 12px 12px 0 0;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-header {
  flex: 1;
  margin: min(5%, 32px) min(1%, 32px) min(5%, 32px) min(1%, 32px);
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 32px;
  margin-bottom: 75px;
}

.card {
  width: min(30vw, 200px);
}

.card img {
  height: min(30vw, 200px);
  width: min(30vw, 200px);
  object-fit: cover;
  border: 3px solid #3882f6;
  border-radius: 12px;
}

.card div {
  height: 100px;
}


.quote-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
}

.quote-attr {
  margin-left: auto;
  padding-right: 32px;
}


.coa {
  flex: 1 1 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coa-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid #3882f6;
  border-radius: 6px;
}

.coa-right {
  flex: none;
  margin-left: 2px;
}

.coa-right button {
  border: 2px solid #F9FAF8;
  border-radius: 6px;
  padding: 5px 20px 5px 20px;
}


.footer {
  height: 48px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
